<div class='max-w-md mx-auto mt-10 bg-white p-8 rounded-lg shadow'>
  <div class='text-center mb-6'>
    <h2 class='text-2xl font-bold'>Login</h2>
  </div>
  <form id='login-form'>
    <div class='mb-4'>
      <label for='username-login' class='block text-sm font-semibold text-gray-700'>Username:</label>
      <input class='form-input mt-1 p-2 w-full border rounded-md' type='text' id='username-login' />
    </div>
    <div class='mb-6'>
      <label for='password-login' class='block text-sm font-semibold text-gray-700'>Password:</label>
      <input class='form-input mt-1 p-2 w-full border rounded-md' type='password' id='password-login' />
    </div>
    <button id='login-button' class='w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-700' type='submit'>Login!</button>
    <a href='/signup' class='block text-center mt-4 text-blue-500 hover:text-blue-700'>Signup?</a>
  </form>
</div>



<script src='/js/login.js'></script>